version: '3.8'
services:
  prefect_w1:
    build: .
    volumes:
      - ./flows:/opt/prefect/flows
      - ./deployments.py:/opt/prefect/deployments.py
    env_file:
      - .env
    command: prefect agent start --pool "cpu-agents" --limit 1
  prefect_w2:
    build: .
    volumes:
      - ./flows:/opt/prefect/flows
      - ./deployments.py:/opt/prefect/deployments.py
    env_file:
      - .env
    command: prefect agent start --pool "cpu-agents" --limit 1
  prefect_w3:
    build: .
    volumes:
      - ./flows:/opt/prefect/flows
      - ./deployments.py:/opt/prefect/deployments.py
    env_file:
      - .env
    command: prefect agent start --pool "cpu-agents" --limit 1
  prefect_w4:
    build: .
    volumes:
      - ./flows:/opt/prefect/flows
      - ./deployments.py:/opt/prefect/deployments.py
    env_file:
      - .env
    command: prefect agent start --pool "cpu-agents" --limit 1